@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  scroll-behavior: smooth;
}


.hero-section-left,
.hero-section-right img {
  opacity: 0;
}

@font-face {
  font-family: 'Gendy';
  src: url('/assets/TTF/Gendy.ttf') format('truetype');
}
@font-face {
  font-family: 'Wondra';
  src: url('/assets/Wondra.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  src: url('/assets/universal.ttf') format('truetype');
}

*{
  font-family:'Poppins' ;
  
}

.heading-font {
  font-family: 'Gendy', sans-serif;
}
.landing-font {
  font-family: 'Wondra', sans-serif;
}



::-webkit-scrollbar{
  background-color: rgb(58,59,59);
  width: 8px;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(255,102,0);
  border-radius: 2px;
}

::selection {
  background-color: rgb(255, 102, 0);
  color: rgb(34, 34, 34);
}

/* For Firefox */
::-moz-selection {
  background-color: rgb(255, 102, 0);
  color: rgb(34, 34, 34);
}




