@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Swis721 Cn BT';
}
html {
  scroll-behavior: smooth;
}
/* styles.css or your relevant CSS file */
.hero-section-left,
.hero-section-right img {
    opacity: 0;
}
